
WeatherAppNational/WeatherAppNational.xcodeproj/project.xcworkspace/xcuserdata/ihyeongju.xcuserdatad/UserInterfaceState.xcuserstate
WeatherAppNational/WeatherAppNational.xcodeproj/xcuserdata/ihyeongju.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
WeatherAppNational/WeatherAppNational.xcodeproj/project.xcworkspace/xcuserdata/ihyeongju.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

## API Key
APIKeyList.plist